<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><font color="green">  Bem-vindo a minha página</font></h1>
  <% @cartas.each do |carta|  %>
    <h3><%=carta.portugues %></h3>
    <p><%=carta.ingles %></p>
<% end %>
</body>
</html>